<!--div ng-init="loadEvents()"></div-->

<div ng-show="dates"> 
  <table class="table table-responsive table-bordered">
      <colgroup>
          <col ng-repeat="day in dates" span="1">
      </colgroup>
      <thead>
        <tr>
          <td><h4>{{currentStartDate.getMonth() | nameOfMonth}} {{currentStartDate.getFullYear()}}</h4></td>
          <th ng-repeat="summary in calendarSummaries">
            {{summary}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="day in dates track by $index">
          <th ng-style="{background: getDayBgColor(day)}">
            <div class="row" ng-style="{color: getDayFontColor(day)}">
              <div class="col-md-10">
                <span>{{day.date.getDate()}}. {{day.date.getDay() | nameOfDay}}   </span>
              </div>
              <div class="col-md-2">
                <span class="pull-right"><small>{{day | showDateMetaInfo}}</small></span>
              </div>
            </div>
          </th>  
           <td ng-click="setSelected($index, day.date)" ng-style="{background: showCalendarColor($index, day)}" ng-repeat="eventlist in day.events track by $index">           
            <div class="row" ng-repeat="event in eventlist | orderBy:startDateSort">
              <div class="col-md-10">
                <span>{{event.start.dateTime | eventStart}}{{event.end.dateTime | eventEnd}}{{event.summary}}</span>
              </div>
              <div class="col-md-2">
                <span class="pull-right"><i class={{event.description}}></i></span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
  </table>
   <ul class="pager">
    <li class="previous"><a href="" ng-click="decrementMonth()">&larr; Forrige</a></li>
    <li class="next"><a href="" ng-click="incrementMonth()">Neste &rarr;</a></li>
  </ul> 
</div>
<div class="container" ng-show="!dates">
  <div class="row" ng-show="!loading">   
    <p class="text-center">
      <a href="#/calendar"><button class="btn btn-success btn-lg" ng-click="loadEvents(true)">Last inn kalender</button></a>
    </p>    
  </div><!-- //row -->
  <div class="row" ng-show="loading">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
      <p class="help-block text-center">Hald an, hald an... Vi jobbar som berre faen.</p>
      <p class="help-block text-center">
        <img src="img/fbloader.gif" />
      </p> 
    </div><!-- //main content -->
  </div><!-- //row -->
</div>
