<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-style="{background: getCalendarColor(selectedCalendar.index, selectedDate.getDate() - 1)}"> 
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title ng-binding">{{selectedDate.getDate()}}.{{selectedDate.getMonth() | nameOfMonth}} {{selectedDate.getFullYear()}}, {{selectedCalendar.summary}}</h4>
			</div>
			<div class="modal-body">
				<div class="row" >
					<div class="col-md-12">
						<div class="btn-group" ng-model="showRegisteredOrRegisterNew" bs-radio-group>
						  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="0"> Registrerte Hendingar  </label>
						  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="1"> Registrer Ny</label>
					  	</div>
					</div>
				</div>				
				<div ng-show="showRegisteredOrRegisterNew">	
					<br>									
					<div class="row">
						<div class="col-xs-2 col-md-2"><label class="control-label">Kva skjer</label></div>
						<div class="col-xs-6 col-md-4"><input type="text" ng-model="title" name="Tittel"/></div>
						<div class="col-xs-4 col-md-6">
							<button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" placeholder="Velg ikon" ng-options="icon.value as icon.label for icon in icons" bs-select>      						
						      Action <span class="caret"></span>
						    </button>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 col-md-2"><label class="control-label">Huskeliste</label></div>
						<div class="col-xs-10 col-md-10"><input type="text" ng-model="checklist" name="Huskeliste"/></div>
					</div>				
					<br>
					<div class="row" ng-show="!fullDayOrTimeboxed">
						<div class="col-xs-2 col-md-2">
							<label>Dagar:&nbsp;</label>
						</div>
						<div class="col-xs-10 col-md-10">
							<select ng-model="selectedNumberOfDays" ng-options="day.label for day in numberOfDays"></select>					
						</div>			
					</div>
					<div class="row" ng-show="fullDayOrTimeboxed">
						<div class="col-md-2">
							<label class="control-label"><span class="glyphicon glyphicon-time"></span> Start</label>
						</div>
						<div class="col-md-4">
							<input type="text" size="4" ng-model="selectedStartTime" data-time-format="HH:mm" data-time-type="number" data-min-time="00:00" data-max-time="23:59" data-autoclose="1" name="time2" bs-timepicker>
						</div>							
						<div class="col-md-2">
							<label class="control-label"><span class="glyphicon glyphicon-time"></span> Slutt</label>
						</div>
						<div class="col-md-4">
							<input type="text" size="4" ng-model="selectedEndTime" data-time-format="HH:mm" data-time-type="number" data-min-time="00:00" data-max-time="23:59" data-autoclose="1" name="time2" bs-timepicker>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<div class="btn-group" ng-model="fullDayOrTimeboxed" bs-radio-group>
							  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="0"> Heildag  </label>
							  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="1"> Tidspunkt</label>
						  	</div>
						</div>
						<div class="col-xs-6 col-md-6">
							<div class="btn-group" ng-model="recurrence" bs-radio-group>
							  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="0"> Engongs  </label>
							  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="1"> Vekentleg</label>
							  <label class="btn btn-default"><input type="radio" class="btn btn-default" value="2"> Årleg    </label>
						  	</div>
						</div>					
					</div>
				</div>
				<div ng-show="!showRegisteredOrRegisterNew">	
					<br>			
					<div class="row" ng-repeat="event in dates[getDiffNumberOfDays(currentStartDate, selectedDate)].events[selectedCalendar.index]">
						<div class="col-xs-1 col-md-1">
							<span><i class={{parsedDescription(event.description).ikon}}></i></span>
						</div>						
						<div class="col-xs-8 col-md-8">
							<p> {{event.start.dateTime | eventStart}}{{event.end.dateTime | eventEnd}}{{event.summary}}</p>							
						</div>
						<div class="col-xs-1 col-md-1">
							<span ng-click="toggleshowEventDetail($index)" class="glyphicon glyphicon-zoom-in"></span>
						</div>
						<div class="col-xs-1 col-md-1">
							<span ng-click="toggleEditEvent($index, event)" class="glyphicon glyphicon-pencil"></span>
						</div>
						<div class="col-xs-1 col-md-1">
							<span ng-click="deleteEvent(event.id, event.recurringEventId)" class="glyphicon glyphicon-remove"></span>
						</div>
						<div class="col-xs-12 col-md-12 panel panel-default" ng-show="showEventDetails == $index">
							  <div class="panel-body">
							    {{parsedDescription(event.description).huskeliste}}
							  </div>
							</div>
						<div class="col-xs-12 col-md-12 panel panel-default" ng-show="editEvent == $index">
							<div class="row">
								<div class="col-xs-2 col-md-2"><label class="control-label">Kva skjer</label></div>
								<div class="col-xs-6 col-md-4"><input type="text" ng-model="updateEvent.title" name="Tittel"/>
								</div>
								<div class="col-xs-4 col-md-6">
									<button type="button" class="btn btn-default" ng-model="updateEvent.icon" data-html="1" placeholder="Velg ikon" ng-options="icon.value as icon.label for icon in icons" bs-select>      						
								      Action <span class="caret"></span>
								    </button>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-2 col-md-2"><label class="control-label">Huskeliste</label></div>
								<div class="col-xs-10 col-md-10"><input type="text" ng-model="updateEvent.checklist" name="Huskeliste"/></div>
							</div>				
							<br>
							<div class="row" ng-show="!event.start.dateTime">
								<div class="col-xs-2 col-md-2">
									<label>Dagar:&nbsp;</label>
								</div>
								<div class="col-xs-10 col-md-10">
									<select ng-model="updateEvent.numberOfDays" ng-options="day.label for day in numberOfDays"></select>					
								</div>			
							</div>
							<div class="row" ng-show="event.start.dateTime">
								<div class="col-md-2">
									<label class="control-label"><span class="glyphicon glyphicon-time"></span> Start</label>
								</div>
								<div class="col-md-4">
									<input type="text" size="4" ng-model="editedStartTime" data-time-format="HH:mm" data-time-type="number" data-min-time="00:00" data-max-time="23:59" data-autoclose="1" name="time2" bs-timepicker>
								</div>							
								<div class="col-md-2">
									<label class="control-label"><span class="glyphicon glyphicon-time"></span> Slutt</label>
								</div>
								<div class="col-md-4">
									<input type="text" size="4" ng-model="editedEndTime" data-time-format="HH:mm" data-time-type="number" data-min-time="00:00" data-max-time="23:59" data-autoclose="1" name="time2" bs-timepicker>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Avbryt</button>
				<button type="button" class="btn btn-primary" ng-click="saveEvent()">Lagre</button>
			</div>
		</div>
	</div>
</div>