<!--div ng-init="loadEvents()"></div-->
<!--<div>
  <button ng-click="loadEvents()">Get Calendar Entries</button>
</div>-->
<ul class="pager">
  <li class="previous"><a href="" ng-click="decrementMonth()">&larr; Forrige</a></li>
  <li class="next"><a href="" ng-click="incrementMonth()">Neste &rarr;</a></li>
</ul>
<!--div class="table-responsive"-->
<table class="table table-responsive table-bordered table-striped">
    <thead>
      <tr>
        <td><h3>{{month | nameOfMonth}}</h3></td>
        <th ng-repeat="summary in calendarSummaries">
          {{summary}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="day in dates">
        <th>{{day.date}}</th>
        <td ng-repeat="event in day.events track by $index">
          {{event.summary}}
        <td/>
      </tr>
    </tbody>
</table>
