<!--div ng-init="loadEvents()"></div-->
<ul class="pager">
  <li class="previous"><a href="" ng-click="decrementMonth()">&larr; Forrige</a></li>
  <li class="next"><a href="" ng-click="incrementMonth()">Neste &rarr;</a></li>
</ul>
<!--div class="table-responsive"-->
<table class="table table-responsive table-bordered">
    <thead>
      <tr>
        <td><h3>{{month | nameOfMonth}} {{year}}</h3></td>
        <th ng-repeat="summary in calendarSummaries">
          {{summary}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="day in dates track by $index">
        <th>{{day.date}}</th>
        <!--td ng-click="createEvent($index, year, month, day.date)" ng-style="{background: getBgColor($index, day.date - 1)}" ng-repeat="eventlist in day.events track by $index"-->  
         <td ng-click="setSelected($index, year, month, day.date)" ng-style="{background: getBgColor($index, day.date - 1)}" ng-repeat="eventlist in day.events track by $index" data-animation="am-fade-and-slide-top" data-template="partials/create-event-modal.html" bs-modal="modal" >       
          <p ng-repeat="event in eventlist track by $index">  
            {{event.start.dateTime | eventStart}}{{event.end.dateTime | eventEnd}}{{event.summary}}
          </p>
        </td>
      </tr>
    </tbody>
</table>
<div>
  <button ng-click="loadEvents()">Get Calendar Entries</button>
</div>
